/* Global Styles */

*, ::after, ::before {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    /* padding: 0px;
    margin : 0px; */
}
:root {
    --hang-color : #222;
    --hang-width : 4px;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: Arial, Tahoma;
}
ul {
    list-style: none;
    padding: 0px;
    margin : 0px;
}
a {
    text-decoration: none;
}


.container {
    margin: 20px auto;
    width: 1100px;
    position: relative;
}
.row {
    display: flex;
    margin-bottom: 70px;
    gap: 20px;
}
hr {
    border: 1px solid #EEE;
}

/* ---- The Upper Section ---- */
.game-info {
    display: flex;
    padding: 25px 0 40px;
    margin: 30px 0px;
    border-bottom: 2px solid #eee;
    font-size: 35px;
}
.game-info .game-name {
    color: #333;
    font-weight: bold;
    text-shadow: 2px 2px 3px #777;
}
.game-info .game-name,
.game-info .category    {
    flex: 1;
}
.game-info .category {
    text-align: right;
}
.game-info .category span{
    text-transform: capitalize;
    color: #E91E63;
    font-weight: bold;
}

/* ---- The Lower Section ---- */

/* $ The Hangman $ */
.hangman-draw {
    flex: 1;
    background-color: #F8F8F8;
    padding: 20px;
    height: 324px;
}
.hangman-draw .the-draw {
    width: 60px;
    height: 280px;
    border-bottom: var(--hang-width) solid var(--hang-color);
    position: relative;
    margin: auto;
    left: -60px;
    display: none;
}
.hangman-draw .the-draw .the-hang {
    display: none;
}
.hangman-draw .the-draw .the-stand {
    display: none;
}
.hangman-draw .the-draw .the-stand::before{
    content: "";
    position: absolute;
    width: var(--hang-width);
    background-color: var(--hang-color);
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
}
.hangman-draw .the-draw .the-hang::before{
    content: "";
    position: absolute;
    height: var(--hang-width);
    background-color: var(--hang-color);
    width: 100px;
    left: 30px;
    top: 15px;
}
.hangman-draw .the-draw .the-hang::after{
    content: "";
    position: absolute;
    width: var(--hang-width);
    background-color: var(--hang-color);
    height: 30px;
    left: 130px;
    top: 15px;
}
.hangman-draw .the-draw .the-rope{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: absolute;
    border : var(--hang-width) dashed #ff524e;
    left: 95px;
    top: 45px;
    display: none;

}
.hangman-draw .the-draw .the-man .head {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: var(--hang-width) solid var(--hang-color);
    position: absolute;
    left: 105px;
    top: 55px;
    background: #d7d7d7;
    display: none;
}
.hangman-draw .the-draw .the-man .body {
    position: absolute;
    width: var(--hang-width);
    background-color: var(--hang-color);
    height: 110px;
    top: 103px;
    left: 128px;
    display: none;
}
.hangman-draw .the-draw .the-man .hands::before {
    left: 85px;
    transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
}
.hangman-draw .the-draw .the-man .hands::after {
    left: 126px;
    transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    -o-transform: rotate(-30deg);
}
.hangman-draw .the-draw .the-man .hands::before,
.hangman-draw .the-draw .the-man .hands::after {
    content: "";
    position: absolute;
    width: 50px;
    height: var(--hang-width);
    background-color: var(--hang-color);
    top: 140px;
}
.hangman-draw .the-draw .the-man .hands {
    display: none;
}

.hangman-draw .the-draw .the-man .legs::before {
    left: 85px;
    transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    -o-transform: rotate(-30deg);
}
.hangman-draw .the-draw .the-man .legs::after {
    left: 126px;
    transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
}
.hangman-draw .the-draw .the-man .legs::before,
.hangman-draw .the-draw .the-man .legs::after {
    content: "";
    position: absolute;
    width: 50px;
    height: var(--hang-width);
    background-color: var(--hang-color);
    top: 224px;
}
.hangman-draw .the-draw .the-man .legs {
    display: none;
}

/* ------------------------------------------------------------- */

/* To Display The parts */
.hangman-draw.wrong-1 .the-draw {
    display: block;
}
.hangman-draw.wrong-2 .the-stand {
    display: block;
}
.hangman-draw.wrong-3 .the-hang {
    display: block;
}
.hangman-draw.wrong-4 .the-rope {
    display: block;
}
.hangman-draw.wrong-5 .the-draw .the-man .head {
    display: block;
}
.hangman-draw.wrong-6 .the-draw .the-man .body {
    display: block;
}
.hangman-draw.wrong-7 .the-draw .the-man .hands {
    display: block;
}
.hangman-draw.wrong-8 .the-draw .the-man .legs {
    display: block;
}

/* -------------------------------------------------------------- */
/* $ Letters $ */
.letters {
    flex: 1;
    text-align: center;
    padding: 20px;
}
.letters.finished {
    pointer-events: none;
}
.letters .letter-box {
    width: 55px;
    height: 55px;
    display: inline-block;
    background-color: #009688;
    color: #fff;
    font-size: 24px;
    line-height: 55px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 10px;
}

/* The Clicked Letter */
.letters .letter-box.clicked {
    background-color: #333;
    opacity: .3;
    pointer-events: none;
}

/* $ The Guess Letters $ */
.letter-guess {
    margin: 10px auto;
    padding: 20px;
    background-color: #F8F8F8;
    min-height: 105px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.letter-guess span {
    width: 60px;
    height: 60px;
    background-color: #FDFDFD;
    border-bottom: 3px solid #333;
    font-size: 24px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    transition: .3s;
}
.letter-guess span.has-space {
    background: none;
    border: none;
    position: relative;
}
.letter-guess span.has-space::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 4.5px;
    background-color: #333;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}


.popup {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(12, 98, 90, 0.769);
    color: #fff;
    font-size: 42px;
    padding: 60px;
    width: 900px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.boxEnd {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 50px;
}

.try {
    background: #F44336;
    padding: 12px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 2px 2px 5px #999;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
.try:hover {
    background: #f44336d2;
    box-shadow: 2px 2px 5px #777;
}

.cancel {
    background: #333;
    padding: 12px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 2px 2px 5px #999;
    transition: .3s;

}
.cancel:hover {
    background: #333333bb;
    box-shadow: 2px 2px 5px #777;
}

.finalWord {
    display: block;
    width: 70%;
    text-align: center;
    padding: 20px;
    margin: 50px auto;
    background: #F44336;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 2px;
}

.hint {
    text-transform: capitalize;
    color: #F44336;
    font-weight: bold;
    font-size: 35px;
    top: 56px;
    left: 15px;
}
.for {
    font-size: 35px;
}
.divhint {
    position: fixed;
    left: 63%;
    top: 4%;
}




